<p style="color: green"><%= notice %></p>

<% if(current_user) then %>
<div class="bg-green-200" id="friends">
<h2>Your current friends...</h2> 
  <% @friends.each do |friend| %>
    <%= render friend %>
      <%= link_to "Show this friend", friend, class: "btn btn-blue" %>
 
  <% end %>
</div>

<%= link_to "New friend", new_friend_path, class: "btn btn-blue" %>

<% else %>
NOT
<% end %>

<style>

</style>